/images/debugs/filled.png
/images/guy/5.png
/images/guy/6.png
/images/guy/7.png
/images/guy/8.png
/images/guy/9.png
/images/office/IMG_20220325_104722.jpg
/images/office/IMG_20220325_104725.jpg
/images/office/IMG_20220325_104727.jpg
/images/office/IMG_20220325_104728.jpg
/images/office/IMG_20220325_104730.jpg
/images/office/IMG_20220325_104732.jpg
/images/office/IMG_20220325_104735.jpg
/images/office/IMG_20220325_104737.jpg
/images/outputs/guy.png
/images/outputs/guy_crop.png
/images/outputs/office.png
/images/4.tif
/versions/Magnus3.py
/versions/Merging.py
/trials/Magnus.py
/trials/Magnus_beta1.py
/trials/Straightness.ipynb
.idea/misc.xml
.idea/Straightness.iml
.idea/workspace.xml
__pycache__/StraightnessCalculator.cpython-37.pyc
__pycache__/Stiching.cpython-37.pyc
.idea/workspace.xml
.idea/Straightness.iml
.idea/misc.xml
trials/MOG2.py
trials/testing.py
/trials/
.idea/workspace.xml
/.idea/
/images/cleanbg.jpg
/images/beam/
/images/beam2/
